---
layout: default
title: Projects
permalink: /projects/
---

<div>

  <h2>Projects</h2>

  <section class="project_list">
    {% for category in site.categories %}
    {% if category.first == 'blog' %}
    {% else %}
    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
      <span class="date"> - {{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}
    {% endif %}
    {% endfor %}

  </section>

</div>


